/*tags*/
body { 
    background-color: #726A95;
}
h1{
    font-family: 'Staatliches', cursive;
}
label, p, input[type=text]{
    font-family: 'Oxygen', sans-serif;
}

/*classess*/
.validations{
    background-color: rgb(114, 106, 149);
    box-shadow: inset 0px 0px 10px 0px rgb(120 60 70);
    display: grid;
    row-gap: 18px;
    place-content: center;
    position: relative;
    top: 50px;
    left: 25%;
    border-radius: 10px;
    width: 50%;
}
.username-validation,
.mob-validation,
.password-validation,
.email-validation{
    text-align: center;
    display:grid;
    border-radius:10px;
    width: 500px;
}
.valid-field{
    color:#A7D0CD;
}
.invalid-field{
    color:#FFD31D;
}
