* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*tags*/
body { 
    background-color: #726A95;
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
}
h1{
    font-family: 'Staatliches', cursive;
}
label,p,input[type=text] {
    font-family: 'Oxygen', sans-serif;
}
input[type=password] {
    width: 144px;
}

@media (max-width: 360px) {
    input[type=text],
    input[type=password] {
        width:100px !important;
    }
    .validations {
        width: 250px !important;
    }
}
@media (max-width: 292px) {
    input[type=text],
    input[type=password] {
        width:80px !important;
    }
    .validations {
        width: 200px !important;
    }
}

/*classess*/
.validations{
    background-color: rgb(114, 106, 149);
    box-shadow: inset 0px 0px 10px 0px rgb(120 60 70);
    border-radius: 10px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 300px;
}
.validation-fields {
    display: flex;
    column-gap: 10px;
}
.email-validation > .validation-fields{
    column-gap: 36px;
}
.password-validation > .validation-fields {
    column-gap: 14px;
}